@* Контрол, представляющий панель с информацией о режимах установки. *@

@using ClientApp.Models
@using ClientApp.Services
@using ClientApp.Store
@using ClientApp.Images
@inject IRefreshService refreshService
@inject NavigationManager ClientNavigationManager

@inject InstallStore installStore
@inject ISnackbar Snackbar


<MudDrawer Elevation="0" Variant="@DrawerVariant.Persistent" Color="Color.Primary" Open="true" Width="170px" Style="min-width:170px;background: linear-gradient(0deg, #13406D, #13406D);">
  <div class="d-flex justify-center pt-3 mb-3">
    <img src="@Images.RxLogo"/>
  </div>
    <div class="d-flex justify-center">
      <img src="@Images.Installation"/>
    </div>
  <MudNavMenu Color="Color.Warning">
    <MudNavLink Href="/import" Disabled="@(this.Disabled)" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.InstallDesktop" IconColor="Color.Inherit">@(this.installStore.Messages.ImportModeButton)</MudNavLink>
    </MudNavMenu>
</MudDrawer>

@code {
    #pragma warning disable CS1591

    private bool Disabled => this.installStore.ValidationInProgress;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.refreshService.RefreshRequested += this.StateHasChanged;
        this.installStore.LoadLcMessages();
    }
}
